@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

/*Defione a fonde dos elementod de dentro do body*/
body {
  font-family: 'Cedarville Cursive', cursive;
  background: #85e7e981;
  width: 100%;
  color: rgba(0, 59, 252, 0.336);
}

/*estiliza tosos os títulos h1*/
h1 {
  text-align: center;
  font-size: 19pt;
}

h2 {
  text-align: center;
  font-size: 19pt;
}

/*Justificar textos*/
.txtjust {
  text-align: justify;

}

/*Centralizar textos*/
.txtcenter {
  text-align: center;

}